<h1>Control panel</h1>

<div class="row">
  <div class="products-header d-flex align-items-center justify-content-between col-11">
    <div class="products-nav">
      <a href="/admin/products">Products</a>
      <span> | </span>
      <a href="/admin/categories">Categories</a>
      <span> | </span>
      <a href="/admin/orders">Orders</a>
    </div>

    <div class="search">
      {{!-- <a href="/admin/products/create">
        <button type="button" class="btn btn-primary">New Product</button>
      </a> --}}
    </div>
  </div>
</div>

{{> message}}

<br />
<br />

<div class="row">
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        {{!-- <th scope="col">SN</th> --}}
        <th scope="col">UserId</th>
        <th scope="col">Amount</th>
        <th scope="col">Payment</th>
        <th scope="col">Shipment</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr class="align-middle">
        <th scope="row">{{this.id}}</th>
        {{!-- <td class="col-1">{{this.sn}}</td> --}}
        <td class="col-2">{{this.UserId}}</td>
        <td class="col-2">{{this.amount}}</td>
        <td class="col-2">
          {{#ifCond this.payment_status '1'}}
          <span style="padding: 6px 10px; border-radius: 8px; background-color: #85D68A; color: #2E731D;">Paid</span>
          {{/ifCond}}
          {{#ifCond this.payment_status '0'}}
          <span style="padding: 6px 10px; border-radius: 8px; background-color: #FEB8B3; color: #B53A2A; ">Unpaid</span>
          {{/ifCond}}
          {{#ifCond this.payment_status '-1'}}
          <span
            style="padding: 6px 10px; border-radius: 8px; background-color: #FEB8B3; color: #B53A2A; ">Canceled</span>
          {{/ifCond}}
        </td>
        <td class="col-2"><span {{#ifCond this.shipping_status '1' }} <span
            style="padding: 6px 10px; border-radius: 8px; background-color: #85D68A; color: #2E731D;">Shipped</span>
          {{/ifCond}}
          {{#ifCond this.shipping_status '0'}}
          <span
            style="padding: 6px 10px; border-radius: 8px; background-color: #FEB8B3; color: #B53A2A; ">Unshipped</span>
          {{/ifCond}}
          {{#ifCond this.shipping_status '-1'}}
          <span
            style="padding: 6px 10px; border-radius: 8px; background-color: #FEB8B3; color: #B53A2A; ">Canceled</span>
          {{/ifCond}}
        </td>
        <td class="col-2">
          <button type="button" class="btn btn-link">
            <a href="/admin/orders/{{this.id}}/edit">
              Edit
            </a>
          </button>
          <form action="/admin/orders/{{this.id}}/cancel" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link">Cancel</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script src="/javascripts/utils.js"></script>