<h1>Control panel</h1>

<div class="products-header d-flex align-items-center justify-content-between">
  <div class="products-nav">
    <a href="/admin/products">Products</a>
    <span>  |  </span>
    <a href='/admin/categories'>Categories</a>
  </div>

  <div class="add-product">
    <a href='/admin/products/create'>
      <button type="button" class="btn btn-primary">New Product</button>
    </a>
  </div>
</div>

<br />
<br />

<table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr class="align-middle">
      <th scope="row">{{this.id}}</th>
      <td>{{this.Category.name}}</td>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/products/{{this.id}}">
            Show
          </a>
        </button>
        <button type="button" class="btn btn-link">
          <a href="/admin/products/{{this.id}}/edit">
            Edit
          </a>
        </button>
        <form action="/admin/products/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>