<link rel="stylesheet" href="/stylesheets/cart.css">
<h4>Shopping Cart</h4>
<div class="step-container row p-5">
  <div class="col-12 col-md-4 step mb-3">
    <span>1. CHECK ORDER</span>
  </div>
  <div class="col-12 col-md-4 step selected mb-3">
    <span>2. ADD SHIPPING INFO</span>
  </div>
  <div class="col-12 col-md-4 step mb-3">
    <span>3. DONE</span>
  </div>

</div>
<div class="my-3">

  <table class="table table-borderless" style="vertical-align: middle;">
    <thead style="text-align: center;">
      <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Price</th>
        <th scope="col">quantity</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody style="text-align: center;">
      {{#each cart.cartedProducts}}
      <tr>
        <td>
          <div style="text-align: left;">
            <img src="{{this.image}}" class="card-img me-3" alt="..." style="width: 120px;">
            <span>{{this.name}}</span>
          </div>
        </td>
        <td>
          <p style="margin: 0;">$ {{this.price}}</p>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-center">

            <span style="margin: 0 20px;">
              {{this.CartItem.quantity}}
            </span>

          </div>
        </td>
        <td>{{this.price}} * {{this.CartItem.quantity}}</td>

      </tr>
      {{/each}}
      <tr>
        <td></td>
        <td></td>
        <td style="text-align: right;">
          <h6 style="margin: 0;">Total: </h6>
        </td>
        <td>
          <h6 style="margin: 0;">$ {{totalPrice}}</h6>
        </td>
      </tr>
    </tbody>
  </table>

  <section id="shipping" class="mt-5">
    <form action="/orders" class="shipping-info" method="POST">
      <div class="info-container" style="max-width: 500px;">
        <h5>Shipping Info</h5>
        {{!-- Name --}}
        <div class="mb-3 row mt-4">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="name" maxlength="50" value="{{user.name}}"
              placeholder="Enter name" required autofocus>
          </div>
        </div>
        {{!-- Cell Phone --}}
        <div class="mb-3 row">
          <label for="phone" class="col-sm-2 col-form-label">phone</label>
          <div class="col-sm-10">
            <input type="text" name="phone" class="form-control" id="phone" minlength="9" maxlength="13"
              placeholder="Enter phone" required>
          </div>
        </div>
        {{!-- Address --}}
        <div class="mb-3 row">
          <label for="address" class="col-sm-2 col-form-label">Address</label>
          <div class="col-sm-10">
            <input type="text" name="address" class="form-control" id="address" placeholder="Enter address" required>
          </div>
        </div>
        {{!-- Email --}}
        <div class="mb-3 row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" name="email" class="form-control" id="email" placeholder="Enter email" required>
          </div>
        </div>
      </div>
      {{!-- Hidden Input --}}
      <input type="hidden" name="cartId" value="{{cart.id}}">
      <input type="hidden" name="amount" value="{{totalPrice}}">
      <input type="hidden" name="shipping_status" value="0">
      <input type="hidden" name="payment_status" value="0">
      {{!-- Buttons --}}
      <div class=" button-container d-flex justify-content-end mt-5">
        <a href="/cart" class="btn btn-secondary mx-2">Edit Cart</a>
        <button type="submit" class="btn btn-secondary">Confirm Order</button>
      </div>
    </form>

  </section>


</div>