<div class="row" id="product-area">

  <div class="col-12 col-md-6 product-image mb-3">
    <img src="{{product.image}}" style="width:100%;" alt="">
  </div>
  <div class="col-12 col-md-6 product-details px-4">
    <div class="product-title fw-bold mb-2">{{product.name}}</div>
    <div class="product-price text-secondary">$ {{product.price}}</div>
    <hr>
    <div class="product-description mb-3">{{product.description}}</div>

    <div class="btn-group">
      <form action="/cart" class="d-flex flex-column" method="POST">

        {{!-- Size --}}
        <div class="input-group mb-3">
          <label class="input-group-text" for="size">Size</label>
          <select class="form-select" id="size" name="size">
            <option selected value="F">F</option>
          </select>

          {{!-- Quantity --}}
          <label class="input-group-text" for="quantity">Quantity</label>
          <select class="form-select" id="quantity" name="quantity">
            {{#if quantity}}
            {{#each quantity}}
            <option {{#ifCond 1 this}}selected{{/ifCond}} value="{{this}}">{{this}}</option>
            {{/each}}
            {{else}}
            <option disabled selected value="0">0</option>
            {{/if}}
          </select>
        </div>

        <input type="hidden" name="productId" value="{{product.id}}">

        {{#if quantity}}
        <button type="submit" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
        {{else}}
        <button type="submit" class="btn btn-sm btn-outline-secondary disabled">Sold out</button>
        {{/if}}


      </form>

    </div>
  </div>
</div>