<br />
<div id="data-panel">

  {{#if keyword}}
  <div class="d-flex justify-content-end text-secondary">
    <p>FOUND {{products.length}} PRODUCTS FOR '{{keyword}}'</p>
  </div>
  {{/if}}

  <div class="products-wrapper">
    {{#each products}}

    <div class="card mb-4 shadow-sm">
      <a href="/products/{{this.id}}">
        <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
      </a>
      <div class=" card-body">
        <p class="card-title">
          <a href="/products/{{this.id}}">
            {{this.name}}
          </a>
        </p>
        <p class="card-text">$ {{this.price}}</p>
      </div>
    </div>

    {{/each}}
  </div>

</div>


{{!-- Pagination --}}

<div id="pagination" class="d-flex justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item {{#ifCond page prev}}disabled{{/ifCond}}">
        <a class="page-link" href="/products?page={{prev}}&categoryId={{categoryId}}&keyword={{keyword}}"
          aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {{#each totalPage}}
      {{#ifCond this ../page}}
      <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
      <li class="page-item"><a class="page-link"
          href="/products?page={{this}}&categoryId={{../categoryId}}&keyword={{../keyword}}">{{this}}</a></li>
      {{/ifCond}}
      {{/each}}
      <li class="page-item {{#ifCond page next}}disabled{{/ifCond}}">
        <a class="page-link" href="/products?page={{next}}&categoryId={{categoryId}}&keyword={{keyword}}"
          aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>